.container-fluid{
    background-color:#e3f2fd;
   
    }
    
    body  {
      background-color: #ebe6e6;
    }
    
   .my-5 {
     background-color: #e3f2fd;
   }

   .page-footer{
    background-color: #e3f2fd;
  }